{{ define "main" }}

<img src="/img/screenshot-0.8.0.png" alt="Screenshot"/>

<h1>mpvQC</h1>
libmpv based application for the quick and easy creation of quality control reports of video files

<h3>Latest release</h3>
<a href="https://github.com/mpvqc/mpvQC/releases/tag/0.8.0"><b>v0.8.0</b></a>

<h4>Older releases</h4>
<p>
    <a href="https://github.com/mpvqc/mpvQC/releases/tag/0.7.0">v0.7.0</a><br>
    <a href="https://github.com/mpvqc/mpvQC/releases/tag/0.5.1">v0.5.1</a><br>
    <a href="https://github.com/mpvqc/mpvQC/releases/tag/0.5.0">v0.5.0</a><br>
    <a href="https://github.com/mpvqc/mpvQC/releases/tag/0.4.0">v0.4.0</a><br>
    <a href="https://github.com/mpvqc/mpvQC/releases/tag/0.3.0">v0.3.0</a><br>
    <a href="https://github.com/mpvqc/mpvQC/releases/tag/0.2.1">v0.2.1</a><br>
    <a href="https://github.com/mpvqc/mpvQC/releases/tag/0.2.0">v0.2.0</a><br>
</p>

{{ end }}
